//Fonts
$OpenSans:'Open Sans', sans-serif;
$Oswald:'Oswald', sans-serif;

//Colors
$white: #fff;
$red: #ce2c52;
$green: #8ae6cf;
$black: #2c303d;
$blue: #7eb6e1;
$light-grey: #ababab;
$dark-grey: #2c303d


