<div class="popup-wrapper">
    <div class="popup">
        <div class="popup__close"></div>
        <div class="popup__title">For gamers by gamers tee</div>
        <div class="popup__number">
            <span>Item #:</span>
            <span>701642853695</span>
            {{> rate/rate}}
        </div>
        <div class="popup__img" style="background-image:url('static/img/content/1.png')"></div>
        <div class="popup__social cf">
            <div class="popup__social-hint"></div>
            <ul class="popup__social-tooltip">
                <li class="popup__social-item">
                    <a href="#">
                        <svg>
                            <use xlink:href="#icon_vk"></use>
                        </svg>
                    </a>
                </li>
                <li class="popup__social-item">
                    <a href="#">
                        <svg>
                            <use xlink:href="#icon_fb"></use>
                        </svg>
                    </a>
                </li>
                <li class="popup__social-item">
                    <a href="#">
                        <svg>
                            <use xlink:href="#icon_twit"></use>
                        </svg>
                    </a>
                </li>
                <li class="popup__social-item">
                    <a href="#">
                        <svg>
                            <use xlink:href="#icon_vk"></use>
                        </svg>
                    </a>
                </li>
                <li class="popup__social-item">
                    <a href="#">
                        <svg>
                            <use xlink:href="#icon_fb"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
        <div class="popup__desc">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto deleniti eum impedit nemo quaerat quisquam sequi similique temporibus totam vitae! Eaque esse praesentium sint velit?
        </div>
        <div class="popup__price">
            <span class="popup__price-old popup__price-old_sale">$29.50</span>
            <span class="popup__price-new">$19.99</span>
        </div>
        <div class="popup__rate">
            {{> rate/rate}}
        </div>
        <div class="popup__form">
            <form>
                <div class="popup__size">
                    <div class="popup__size-title">
                        <span>Select a </span>
                        <span>size:</span>
                    </div>
                    <ul class="popup__size-choose cf">
                        <li class="popup__size-item">
                            <input type="radio" name="size" id="xs" value="xs" checked>
                            <label for="xs">xs</label>
                        </li>
                        <li class="popup__size-item">
                            <input type="radio" name="size" id="s" value="s">
                            <label for="s">s</label>
                        </li>
                        <li class="popup__size-item">
                            <input type="radio" name="size" id="l" value="l">
                            <label for="l">l</label>
                        </li>
                        <li class="popup__size-item">
                            <input type="radio" name="size" id="m" value="m">
                            <label for="m">m</label>
                        </li>
                    </ul>
                </div>
                <div class="popup__submit">
                    <input type="submit" value="add to cart">
                </div>
            </form>
        </div>
    </div>
    <div class="popup-overlay"></div>
</div>
