<div class="product">
    <div class="product__img" style="background-image:url('static/img/content/1.png')">
        <div class="product__more">
            <span class="product__more-before">Click to </span>
            <span class="product__more-after">Show more</span>
        </div>
    </div>
    <div class="product__desc">For gamers by gamers tee</div>
    <div class="product__price">
        <span class="product__price-old product__price-old_sale">$29.50</span>
        <span class="product__price-new">$19.99</span>
    </div>
</div>
