<ul class="rate">
    <li class="rate__item active">
        <svg>
            <use xlink:href="#star"></use>
        </svg>
    </li>
    <li class="rate__item active">
        <svg>
            <use xlink:href="#star"></use>
        </svg>
    </li>
    <li class="rate__item active">
        <svg>
            <use xlink:href="#star"></use>
        </svg>
    </li>
    <li class="rate__item active">
        <svg>
            <use xlink:href="#star"></use>
        </svg>
    </li>
    <li class="rate__item">
        <svg>
            <use xlink:href="#star"></use>
        </svg>
    </li>
</ul>
